@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins", sans-serif;
}
.w-15 {
  width: 15px;
}
.h-15 {
  height: 15px;
}
body {
  user-select: none;
}

#home {
  width: 100%;
  height: 100vh;
  background-color: #0d1224;
  background-image: url(bg-grid-lighter.4c1e8196.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  padding-top: 4rem;
}

#second {
  background-color: #0d1224;
}
#third {
  background-color: #0d1224;
}
#fourth {
  background-color: #0d1224;
}
#five {
  background-color: #0d1224;
}
#footer {
  background-color: #0d1224;
}
.sat {
  width: 14rem;
  height: 12rem;
  border: 0.1px solid gray;
  background-color: #11152c;
}
.sat:hover {
  border: none !important;
  /* scale: 1.1; */
  /* filter: drop-shadow(0.3rem 0.2rem 0.2rem rgba(24, 209, 255, 0.5)); */
}
.sat:hover:nth-child(2n) {
  /* filter: drop-shadow(0.3rem 0.2rem 0.2rem rgba(247, 24, 255, 0.5)); */
}

.GET:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.GET {
  width: 17rem;
  border: none;
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
  display: block;
}

.SUBSCRIBE {
  width: 11rem;
  border: none;
  background: rgb(244, 38, 176);
  background: linear-gradient(
    90deg,
    rgba(244, 38, 176, 1) 0%,
    rgba(103, 8, 200, 1) 100%
  );
}


.border-dark {
  /* border: 2px solid red !important; */
  background: rgb(17, 21, 44);
  background: linear-gradient(
    145deg,
    rgba(17, 21, 44, 1) 0%,
    rgba(12, 15, 54, 1) 100%
  );
  border-radius: 2%;
}
.fs-34 {
  font-size: 34px !important;
}
/* ```````````````````````````````````````img``````````````````````````````````````````` */
.img-1 {
  width: 500px;
}
.img-2 {
  width: 320px;
}

.img-3 {
  width: 320px;
}
.img-4 {
  width: 310px;
}
.bg-1 {
  background-color: #fc5f56;
}
.bg-2 {
  background-color: #fbbb34;
}
.bg-3 {
  background-color: #29c842;
}
.bg-4 {
  background-color: #773eea;
}
.ri-time-line {
  color: #a679ff;
}
#footer {
  border-top: 2px solid #000000;
}
.social i {
  font-size: 2rem;
}
.social a {
  text-decoration: none;
}
/*``````````````````````````````````````` font-size: 20px;``````````````````````````````````````` */
.fs {
  font-weight: 800;
}
.SOFTWARE {
  color: #16f8b6;
}
.love {
  color: #f926ae;
}
.bg-4 {
  width: 15rem;
  background-color: #773eea;
}
/* ```````````````````````````````````````text-color``````````````````````````````````````` */
.text-pink {
  color: #f627b1;
}
.text-orange {
  color: #f7cb4e;
}
.text-grey {
  color: #666d6e;
}
.text-cyan {
  color: #16f8b6 !important;
}
.text-sky {
  color: #14d5fe;
}
.text-purple {
  color: #7455dc;
}
.text-cyan2 {
  color: #cce2eb !important;
}
.text-cyan2 {
  font-size: 1.1rem;
  font-weight: 500;
}
.member {
  color: white;
  height: 3rem;
  width: 8.5rem;
  background-color: #773eea !important;
}
.heading-second {
  font-size: 1.9rem;
}
/*  fs */
.ps-10 {
  padding-left: 6rem;
}
.ps-15 {
  padding-left: 7.5rem;
}
.Why {
  font-size: 45px;
}
.card-style {
  border: 0px solid transparent !important;
}
/* .card-style:hover {
  transition: transform 0.8s ease-in;
  transform: scale(1.1);
} */

.card-body {
  background-color: #12172a !important;
}

.btn-courses {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.btn-courses:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.v-div {
  margin-right: 7rem !important;
  margin-left: 7rem !important;
}
.flex-row {
  height: 1.45px;
  background: rgb(17, 21, 44);
  background: linear-gradient(
    90deg,
    rgba(17, 21, 44, 1) 0%,
    rgba(218, 36, 157, 1) 23%,
    rgba(155, 40, 224, 1) 60%,
    rgba(17, 21, 44, 1) 100%
  );
}
.flex-row1 {
  height: 0.1px;
  background: rgb(17, 21, 44);
  background: linear-gradient(
    90deg,
    rgba(17, 21, 44, 1) 0%,
    rgba(155, 40, 224, 1) 37%,
    rgba(218, 36, 157, 1) 70%,
    rgba(17, 21, 44, 1) 100%
  );
}
.GET:hover {
  margin-left: 1rem;
}
a {
  text-decoration: none;
}

/*  ``````````````````    blink  ````````````````````` */
.blink {
  animation: blink 0.8s infinite ease-in-out;
  border-right: 5px solid white;
  padding-left: 5px !important;
}

@keyframes blink {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}
/*  ``````````````````    blink  ````````````````````` */
@media (min-width: 320px) and (max-width: 480px) {
  #home {
    height: 100%;
    padding-top: 0rem;
  }
  .text-1 {
    padding: 0px 40px;
    text-align: justify;
  }
  .img-1 {
    width: 370px;
  }
  .fs {
    padding-top: 0px !important;
    font-size: 38px;
  }
  .w-50 {
    width: 400px !important;
    text-align: justify;
    padding: 0px 39px;
  }
  .Why {
    font-size: 32px;
  }
  .pad-x {
    padding: 40px;
  }
  .this-text {
    padding-left: 4.5rem;
  }
  .skill-text {
    padding-left: 1rem !important;
  }
  .return-text {
    padding-left: 3rem !important;
  }
  .v-div {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }
  .GET:hover {
    margin-left: 0rem;
  }
  .ri-arrow-right-line:hover {
    transform: translate(45deg);
  }
}
@media (min-width: 480px) and (max-width: 768) {
  .img-3 {
    margin-top: 130px !important;
  }
}

a i{
  color: linear-gradient( to right, #da22ff 0%, #9733ee 51%, #da22ff 100% ) !important;

}
